<!DOCTYPE html>
<html>
  <head>
    <title>Maaaanga!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="header-left" href="/">maaanga!!</div>
        <div class="header-right">
            <%= link_to "漫画一覧を見る", search_comics_path, method: :get, class: :form__controll %>
          <% if user_signed_in? %>
            <div class = "login">
              <%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
            </div>
            <div class="post-content">
              <a class="post" href="/comics/new">投稿する</a>
            </div>
            <% else %>
              <div class="new">
                <%= link_to "ログイン", new_user_session_path, class: :post %>
                <%= link_to "新規登録", new_user_registration_path, class: :post %>
              </div>
          <% end %>
        </div>
    </div>
      <%= yield %>
    <%= link_to "back to the top", root_path, method: :get %>
    <footer class="footer">2018 Copyrights Reserved</footer>
  </body>
</html>
